---
page_title: "Provider: FreeIPA"
description: |-
  The FreeIPA provider provides resources to interact with FreeIPA API.
---

# FreeIPA Provider

The FreeIPA provider provides resources to interact with FreeIPA API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
